html,
body {
    margin: 0;
    background-color: #222222;
    color: #ffffff;
    touch-action: manipulation;
}

.creators {
    display: flex;
    flex-wrap: wrap;
}

.creator {
    width: 20em;

    border: white solid 2px;
}

.creator.live {
    border: #ff0000 solid 2px;
}

.creator img {
    width: 50px;
}

.creator .display_name a {
    color: white;
}

.creator .stream a {
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* FIXME: Cut off if too long */
}
