/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
/* END CSS Reset */

:root {
    --creator-card-width: 15em;
    --creator-card-image-width: 10em;

    --text-color: #ffffff;
    --background-color: #222222;
    --card-color: #444444;

    --card-margin: 2em 1em;
    --card-padding: 2em 1em;

    --card-min-total-width: calc(var(--creator-card-width) + 2em * 2);

    --twitch-color: #9146ff;
    --youtube-color: #ff0000;
}

html,
body {
    margin: 0.5em;
    background-color: var(--background-color);
    color: var(--text-color);
    touch-action: manipulation;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--text-color);
}

main > .title {
    background-color: var(--background-color);
    position: sticky;
    z-index: 1;
    top: 0em;
    font-size: 3em;
    font-weight: bold;
}

.updated {
    color: var(--text-color);
}

.creators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: start;
}

.creators .creator {
    min-width: var(--creator-card-width);
    margin: var(--card-margin);
    padding: var(--card-padding);
    background-color: var(--card-color);

    border-color: #ffffff;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 10px;
}

.creators .creator.live {
    border-color: #ff0000;
    max-width: calc(var(--creator-card-width) * 2);
}

.creators .creator img {
    width: var(--creator-card-image-width);
    border-radius: 50%;
    margin-inline: auto;
}

.creators .creator .stream > a.title {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.creators .creator .service {

}

.creators .creator .service.youtube {
    background-color: var(--youtube-color);
}
.creators .creator .service.twitch {
    background-color: var(--twitch-color);
}

.creators .creator .service > .ionicon {
    height: 100%;
}