<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creators for a Cause | Live Creators</title>

        {# Tomfoolery to make vscode not throw a fit over non-css in a style tag #}
        {{- "<"|safe -}}{{- "style>"|safe -}}
        {%- include "include/style.css" -%}
        {{- "</"|safe -}}{{- "style>"|safe -}}
    </head>
    <body>
        <main>
            <h1>Creators for a Cause</h1>
            <section>
                <h2>Fundraiser</h2>
                Together we have raised ${{ funds }}
            </section>
            <section>
                <h2>Participating Streamers</h2>

                {% macro creator_card(creator) %}

                {% let live_class %}
                {% if creator.stream.is_some() %}
                {% let live_class = "live" %}
                {% else %}
                {% let live_class = "" %}
                {% endif %}

                <div class="creator {{live_class}}">
                    {#- TODO: placeholder image -#}
                    <img src="{{creator.icon_url}}" alt="Profile Picture" loading="lazy">
                    <h4 class="display_name"><a href="{{creator.href}}">{{creator.display_name}}</a></h4>
                    {% if let Some(stream) = creator.stream %}
                    <div class="stream">
                        <h5>Stream</h5>
                        <p>Title: <a href="{{stream.href}}">{{stream.title}}</a></p>
                        <p>Start Time: {{stream.start_time}}</p>
                        <p>Viewers: {{stream.viewers}}</p>
                    </div>
                    {% else %}
                    NO STREAM
                    {% endif %}
                </div>
                {% endmacro %}

                <section>
                    <h3>Twitch</h3>
                    {% let twitch = creators.twitch() %}
                    {{ twitch.updated }}
                    <div>
                        {% for creator in twitch.creators %}
                        {# <pre>{{"{:#?}"|format(creator)}}</pre> #}
                        {% call creator_card(creator) %}
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <h3>Youtube</h3>
                    {% let youtube = creators.youtube() %}
                    {{ youtube.updated }}
                    <script>
                        // TODO: Day.js for nice date formatting on the frontend?
                        const timestamp = {{ youtube.updated.unix_timestamp() }} * 1000;

                        const text = document.createTextNode(new Date(timestamp).toLocaleString());
                        document.currentScript.after(text);
                    </script>
                    <div>
                        {% for creator in youtube.creators %}
                        {# <pre>{{"{:#?}"|format(creator)}}</pre> #}
                        {% call creator_card(creator) %}
                        {% endfor %}
                    </div>
                </section>


            </section>
        </main>
    </body>
</html>