<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creators for a Cause | Live Creators</title>

        {# Tomfoolery to make vscode not throw a fit over non-css in a style tag #}
        {{- "<"|safe -}}{{- "style>"|safe -}}
        {%- include "include/style.css" -%}
        {{- "</"|safe -}}{{- "style>"|safe -}}
    </head>
    <body>
        <main>
            <h1>Creators for a Cause</h1>
            <section>
                <h2>Fundraiser</h2>
                Together we have raised ${{ funds }}
            </section>
            <section>
                <h2>Participating Streamers</h2>

                <section>
                    <h3>Twitch</h3>
                    {% let twitch = twitch.borrow() %}
                    {{ twitch.updated }}
                    <div>
                        {% for (streamer, stream) in twitch.streams %}
                        {{streamer}} {{"{:?}"|format(stream)}}
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <h3>Youtube</h3>
                    {% let youtube = youtube.borrow() %}
                    {{ youtube.updated }}
                    <div>
                        {% for (streamer, stream) in youtube.streams %}
                        {{streamer}} {{"{:?}"|format(stream)}}
                        {% endfor %}
                    </div>
                </section>

                <template id="streams.template">
                    <div>
                        <p>Streamer: <slot name="streamer"></slot>
                        </p>
                        <p>Title: <slot name="title"></slot>
                        </p>
                        <p>Start Time: <slot name="start-time"></slot>
                        </p>
                        <p>Viewers: <slot name="viewers"></slot>
                        </p>
                    </div>
                </template>
            </section>
        </main>
    </body>
</html>